<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NamesFileLocation" value="C:\Users\TSmith1\Desktop\HomeProjects\Solo Projects\DataProcessSolution\DataProcessSolution.Tests\TestFiles\Names.csv"/>
    <add key="AddressesFileLocation" value="C:\Users\TSmith1\Desktop\HomeProjects\Solo Projects\DataProcessSolution\DataProcessSolution.Tests\TestFiles\Addresses.csv"/>
    <add key="OrdersFileLocation" value="C:\Users\TSmith1\Desktop\HomeProjects\Solo Projects\DataProcessSolution\DataProcessSolution.Tests\TestFiles\Orders.csv"/>
    <add key="OutputFileLocation" value="C:\Users\TSmith1\Desktop\HomeProjects\Solo Projects\DataProcessSolution\DataProcessSolution.Tests\TestFiles\Output.csv"/>
  </appSettings>
</configuration>