<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileHandlerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileHandlerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/filehandler/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFileHandlerService" contract="FileHandlerServiceReference.IFileHandlerService"
                name="WSHttpBinding_IFileHandlerService">
                <identity>
                    <userPrincipalName value="TSmith1@hitachiconsulting.net" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/filehandler/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileHandlerService"
                contract="FileHandlerServiceReference.IFileHandlerService"
                name="BasicHttpBinding_IFileHandlerService" />
            <endpoint address="http://localhost:8733/filehandler/net.tcp//localhost:8733/filehandler"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileHandlerService"
                contract="FileHandlerServiceReference.IFileHandlerService"
                name="WSHttpBinding_IFileHandlerService1">
                <identity>
                    <userPrincipalName value="TSmith1@hitachiconsulting.net" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>